@font-face {
    font-family: 'PoiretOne-Regular';
    src: local('PoiretOne-Regular'), local('PoiretOne-Regular'),
    url('../fonts/PoiretOne-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'TenorSans-Regular';
    src: local('TenorSans-Regular'), local('TenorSans-Regular'),
    url('../fonts/TenorSans-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}