:root {
    --fontText: 16px;
    --fontH1: 16px;
    --fontH2: 16px;
    --fontH3: 16px;
    --fontH4: 16px;
    --fontH5: 16px;
    --fontH6: 16px;
    --colorText: rgba(255, 255, 255, .7);
    --colorBorder: rgba(255, 255, 255, .3);
    --colorTitle: rgb(255, 255, 255);
    --colorTitleSpan: #B4804A;
    --colorSubtitle: rgba(255, 255, 255, .8);
    --colorBtn: rgb(92, 100, 110);
    --colorLink: rgba(255, 255, 255, .8);
    --colorActive: #B4804A;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.img {
    margin-bottom: -5px;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: black;
    font-size: var(--fontText);
}

#toTop {
    background-color: var(--colorActive);
    text-align: center;
    position: fixed;
    bottom: 3rem;
    right: 3rem;
    cursor: pointer;
    display: none;
    font-size: 2.85rem;
    line-height: 2.85rem;
    font-weight: 600;
    transition: .5s;
    z-index: 999;
    transform: rotate(90deg);
    width: 3.5rem;
    height: 3.5rem;
    border-radius: 50%;
    color: rgba(255, 255, 255, 1);
    opacity: .5;
}

@media (max-width: 1600px) {
    #toTop {
        height: calc(2.33rem + (3.5 - 2.33) * ((100vw - 20rem) / (100 - 20)));
        width: calc(2.33rem + (3.5 - 2.33) * ((100vw - 20rem) / (100 - 20)));
        line-height: calc(2rem + (2.85 - 2) * ((100vw - 20rem) / (100 - 20)));
        font-size: calc(2rem + (2.85 - 2) * ((100vw - 20rem) / (100 - 20)));
        bottom: calc(1rem + (3 - 1) * ((100vw - 20rem) / (100 - 20)));
        right: calc(1rem + (3 - 1) * ((100vw - 20rem) / (100 - 20)));
    }
}

#toTop:hover {
    opacity: 1;
}
